html {
  box-sizing: border-box;
  font-family: sans-serif, Bevan;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  background-color: #79756f;
  margin: 0;
  border: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  color: #fff;
  text-align: center;
  margin: .3em;
}

nav li {
  display: inline;
}

nav a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  background-color: #713837;
  border-radius: 5px;
  padding: .5em;
  margin-top: .1em;
}

nav a:hover {
  background-color: #f33;
}

nav {
  color: #fff;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: .75em;
  padding-left: 40px;
}
